QUESTION 1: Print your fav color.

In [ ]:
print ("red")

red

Question 2:create a variable for your birth year and print it.

In [ ]:
a=2006
print(a)

2006

QUESTION 3:Store your fav fruit in a variable and print it.

In [ ]:
x="mango"
print(x)

mango

QUESTION 4:Add two numbers using variables and print the result.

In [ ]:
num1=5
num2=5
result=num1+num2
print(result)

10

QUESTION 5:store your hobby in a variable and print a message about it.

In [ ]:
a="painting"
print("my favourite hobby is", a)

my favourite hobby is painting

QUESTION 6: Declare a variable for your country and print where are you from.

In [ ]:
x="pakistan"
print("i am from "+ x)

i am from pakistan

QUESTION 7: Use multiple variables (name,favorite color,hobby) and print a full sentence.

In [ ]:
name= "minahil"
color="red"
hobby="painting"
print ("my name is " + name , "my fav color is " + color,"and i love " + hobby )

my name is minahil my fav color is red and i love painting

QUESTION 8: perform substraction between two numbers and print result.

In [ ]:
x=10
y=5
difference=x-y
print(difference)

5

QUESTION 9: STORE A BOOK TITLE IN VARIABLE AND PRINT IT.

In [ ]:
book="the art of not overthinking"
print(book)

the art of not overthinking

QUESTION 10: CREATE A VARIABLE FOR YOUR FAV MOVIE AND PRINT IT.

In [ ]:
A="FINAL DESTINATION"
print(A)

FINAL DESTINATION

In [ ]:
a=245
print(a)

245

                                         ASSIGNMENT: DATA TYPES
1: Create variables of types: 𝐬𝐭𝐫𝐢𝐧𝐠, 𝐢𝐧𝐭𝐞𝐠𝐞𝐫, 𝐟𝐥𝐨𝐚𝐭, and 𝐛𝐨𝐨𝐥𝐞𝐚𝐧. Print their 𝐯𝐚𝐥𝐮𝐞𝐬 and 𝐭𝐲𝐩𝐞𝐬.

In [ ]:
a="HELLO PYTHON"
b= 45
c=45.5
d= True
print(type(a),"a=",a)
print (type(b),"b=",b)
print(type(c),"c=",c)
print(type(d),"d=",d)

<class 'str'> a= HELLO PYTHON
<class 'int'> b= 45
<class 'float'> c= 45.5
<class 'bool'> d= True

2:Make a 𝐥𝐢𝐬𝐭 𝐨𝐟 𝟓 𝐟𝐫𝐮𝐢𝐭𝐬 and print.

In [ ]:
list=["mango,apple,cherry,peach"]
print(type(list),"list=",list)

<class 'list'> list= ['mango,apple,cherry,peach']

3:Create a 𝐭𝐮𝐩𝐥𝐞 𝐨𝐟 𝟑 𝐟𝐚𝐯𝐨𝐫𝐢𝐭𝐞 𝐧𝐮𝐦𝐛𝐞𝐫𝐬 and print.

In [ ]:
tuple=(1,3,5)
print(type(tuple),"tuple=",tuple)

<class 'tuple'> tuple= (1, 3, 5)

4:Define a 𝐝𝐢𝐜𝐭𝐢𝐨𝐧𝐚𝐫𝐲 with keys: name, age, city – and print 𝐚𝐥𝐥 𝐤𝐞𝐲-𝐯𝐚𝐥𝐮𝐞 𝐩𝐚𝐢𝐫𝐬.

In [ ]:
dict={"name":"minahil","age":19,"language":"urdu"}
print(type(dict),"dict=",dict)

<class 'dict'> dict= {'name': 'minahil', 'age': 19, 'language': 'urdu'}

5:Create a 𝐬𝐞𝐭 𝐨𝐟 𝐮𝐧𝐢𝐪𝐮𝐞 𝐡𝐨𝐛𝐛𝐢𝐞𝐬.

In [ ]:
a={"painting,cooking,photography"}
print(type(a),"a=",a)

<class 'set'> a= {'painting,cooking,photography'}

6:Make a 𝐥𝐢𝐬𝐭 𝐨𝐟 𝟓 𝐬𝐭𝐮𝐝𝐞𝐧𝐭 𝐧𝐚𝐦𝐞𝐬 and print

In [ ]:
list=["ali,affan,ahmed,ahsan,faisal"]
print("list=",list)

list= ['ali,affan,ahmed,ahsan,faisal']

7:Create a 𝐝𝐢𝐜𝐭𝐢𝐨𝐧𝐚𝐫𝐲 of 3 programming languages with their creators and print them.

In [ ]:
languages={"python":"guido van rossum","java":"james gosling","c":"dennis ritchie"}
print(type(languages),"languages=",languages)

<class 'dict'> languages= {'python': 'guido van rossum', 'java': 'james gosling', 'c': 'dennis ritchie'}

8: Store 3 𝐟𝐥𝐨𝐚𝐭 numbers and calculate their 𝐚𝐯𝐞𝐫𝐚𝐠e

In [ ]:
a=5.6
b=6.5
c=7.5
average=a+b+c/3
print(average)

14.6

9: Create a 𝐭𝐮𝐩𝐥𝐞 𝐨𝐟 𝟒 𝐜𝐢𝐭𝐢𝐞𝐬.

In [ ]:
tuple=("LAHORE","KARACHI","SIALKOT","GUJRANWALA")
print(type(tuple),"tuple=",tuple)

<class 'tuple'> tuple= ('LAHORE', 'KARACHI', 'SIALKOT', 'GUJRANWALA')

10:Make a 𝐬𝐞𝐭 𝐨𝐟 𝐯𝐨𝐰𝐞𝐥𝐬 in a string and print

In [ ]:
B={"a,e,i,o,u"}
print(type(B),"B=",B)

<class 'set'> B= {'a,e,i,o,u'}

In [ ]:
a=10
b= 6
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a**b",a**b)

a+b= 16
a-b= 4
a*b= 60
a/b= 1.6666666666666667
a//b= 1
a**b 1000000

In [ ]:
# Sum numbers from 1 to 100
total: int = 0
for i in range(1, 201):
    total += i
print("Sum of numbers from 1 to 200:", total)

Sum of numbers from 1 to 200: 20100