1-Write a program to check if a number is positive, negative, or zero

In [ ]:
num = 10
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

2- Input a number and print whether it is even or odd

In [ ]:
num = 8
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

3-Ask age and print if person is eligible to vote

In [ ]:
age=19
if age>=18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

4-Check if a number is divisible by 3, 5, or both

In [ ]:
num=15
if num%3==0 and num%5==0:
    print("Divisible by both 3 and 5")
else:
     print("Not divisible by both 3 and 5")

Divisible by both 3 and 5

5- Input marks and print grade using if-elif-else

In [ ]:
marks=54
if marks>=90:
    print("Grade A")
elif marks>=80:
    print("Grade B")
elif marks>=70:
    print("Grade C")
elif marks>=60:
    print("Grade D")
else:
    print("Grade F")

Grade F

6-Print numbers from 1 to 10 using a loop

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

7-Use a loop to print all even numbers between 1 and 20

In [ ]:
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

8-print the multiplication table of 6

In [ ]:
num=6
for i in range(1,11):
    print(num,"*",i,"=",num*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

9-Ask for a word and print each letter on a new line

In [ ]:
word="aesthetic"
for i in word:
    print(i)

a
e
s
t
h
e
t
i
c

10-Count how many vowels are in the word “education”

In [ ]:
vowels="a,e,i,o,u"
word="education"
for i in word:
    if i in vowels:
        print(i)

e
u
a
i
o