1- Create variables a = 15 and b = 4. Perform and print all arithmetic operations.

In [ ]:
a=15
b= 4
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a**b",a**b)

a+b= 19
a-b= 11
a*b= 60
a/b= 3.75
a//b= 3
a**b 50625

2-Use comparison operators to compare a and b and print results.

In [ ]:
x= 10
y= 8
print("x == y = ", x == y)
print("x != y = ", x != y)
print("x > y  = ", x > y)
print("x < y  = ", x < y)
print("x >= y = ", x >= y)
print("x <= y = ", x <= y)

x == y =  False
x != y =  True
x > y  =  True
x < y  =  False
x >= y =  True
x <= y =  False

3-Create boolean variables x = True, y = False. Perform logical operations and print outcomes.

In [ ]:
x=True
y=False
print("x and y = ", x and y)
print("x or y  = ", x or y)
print("not x   = ", not x)

x and y =  False
x or y  =  True
not x   =  False

4- Use assignment operators (+=, -=, *=, etc.) on a variable and print updated values.

In [ ]:

num = 10
num += 5
print("addition += 5:", num)
num -= 3
print("subraction -= 3:", num)
num *= 2
print("multiply *= 2:", num)
num/=4
print("divide /= 4:", num)
num//=2
print("floor division //=2:",num)

addition += 5: 15
subraction -= 3: 12
multiply *= 2: 24
divide /= 4: 6.0
floor division //=2: 3.0

5-Use is and is not operators with two equal values.

In [ ]:
a=[2,3,5]
b=[2,3,5]
c=a
print("a is c=  ",a is c)
print("a is b=  ",a is b)
print("a == b=  ", a == b)
print("a is not b=", a is not b)

a is c=   True
a is b=   False
a == b=   True
a is not b= True

6-Check the presence of words using in and not in operators in a string.

In [ ]:
text = "Python programming is fun and powerful."
print("Python" in text)
print("Java" in text)
print("Java" not in text)
print("powerful" not in text)

True
False
True
False

7-Import the keyword module and print all Python keywords

In [ ]:
import keyword
print("The list of \keywords is : ")
print(keyword.kwlist)

The list of \keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

8- Declare variables name, age, height, and print their values with types.

In [ ]:
a="lali"
b=19
c=5.3
print(type(a),"a=",a)
print (type(b),"b=",b)
print(type(c),"c=",c)

<class 'str'> a= lali
<class 'int'> b= 19
<class 'float'> c= 5.3

9- Write 5 valid and 3 invalid variable names (with comments).

In [ ]:
name="lali" #valid variable
age_25=25   #valid includes underscore
_is_active=True   #valid start
totalMarks=88    #valid camel case
subject1="maths"  #valid ends with number
2name="misha"    #invalid start
total-marks=34   #invalid hyphen
class="physics"   #invalid "class" is a reserve word

10-Assign multiple values in one line and use type() and id() to inspect them.

In [ ]:
x=10; y=5.5; z="hello"
print(type(x),id(x))
print(type(y),id(y))
print(type(z),id(z))

<class 'int'> 10758024
<class 'float'> 136708231550672
<class 'str'> 136709611422384