In [ ]:
name="minahil"
for character in name:
  print(character)

m
i
n
a
h
i
l

2- Use slicing to print the first 4 characters of a string.

In [ ]:
my_string="artificial intelligence"
print("my_string=",my_string[0:4])

my_string= arti

3-Ask the user to input a number as a string, convert it to int, add 10, and print the result.

In [ ]:
num= "50"
result=int(num)+10
print(result)

60

4- Create a list of string numbers like ["10", "20", "30"], convert to int, and print updated list.

In [ ]:
my_list=["10","20","30"]
result=[int(x)for x in my_list]
print(result)

[10, 20, 30]

5- Check if "Python" is in a string using in and print a message.

In [ ]:
text = "I am learning Python programming"
if "Python" in text:
    print("Yes, 'Python' is in the string!")
else:
    print("'Python' is not in the string.")

Yes, 'Python' is in the string!

6-Create a string, convert it to uppercase, lowercase, and title case.

In [ ]:
my_string="hello world"
print(my_string.upper())
print(my_string.lower())
print(my_string.title())

HELLO WORLD
hello world
Hello World

7-Use type() to display data types before and after casting from string to integer.

In [ ]:
my_string = "123"
print("Before casting:", my_string)
print("Type before casting:", type(my_string))
my_int = int(my_string)
print("After casting:", my_int)
print("Type after casting:", type(my_int))

Before casting: 123
Type before casting: <class 'str'>
After casting: 123
Type after casting: <class 'int'>

8- Take user input for name and age. Check if age (casted to int) is above 18 and print eligibility.

In [ ]:

name = "minahil "
age = "19"
age = int(age)
if age > 18:
    print(f"{name}, you are eligible.")
else:
    print(f"{name}, you are not eligible.")

minahil , you are eligible.

9-Create a variable with mixed-case text. Check if the text is uppercase and print results.

In [ ]:
my_text="Hello World"
is_upper= my_text.isupper()
print("is the text uppercase?", is_upper)

is the text uppercase? False

10- Create a string with numbers, convert it to float and int, and print all conversions with their types.

In [ ]:
num_str = "2435"
num_float = float(num_str)
num_int = int(num_float)
print("Converted to float:", num_float, ", Type:", type(num_float))
print("Converted to int:", num_int, ", Type:", type(num_int))

Converted to float: 2435.0 , Type: <class 'float'>
Converted to int: 2435 , Type: <class 'int'>