In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
my_set=set1.union(set2)
print(my_set)
my_set2=set1.intersection(set2)
print(my_set2)
set1.remove(3)
print(set1)
set2.add(10)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 4, 5}
{4, 5, 6, 7, 8, 10}

𝗔𝗰𝗮𝗱𝗲𝗺𝗶𝗰 𝗔𝘀𝘀𝗶𝗴𝗻𝗺𝗲𝗻𝘁 – 𝗟𝗲𝘀𝘀𝗼𝗻 𝟎𝟳: 𝗦𝗲𝘁𝘀, 𝗙𝗿𝗼𝘇𝗲𝗻𝘀𝗲𝘁 & 𝗚𝗮𝗿𝗯𝗮𝗴𝗲 𝗖𝗼𝗹𝗹𝗲𝗰𝘁𝗶𝗼𝗻

1- Create a set of 5 fruits and print it.

In [5]:
set={"apple","kiwi","orange","cherry","berry"}
print(set)

{'cherry', 'berry', 'apple', 'orange', 'kiwi'}

2-Add one new fruit to your set using .add() and print the updated set.

In [6]:
set={"apple","kiwi","orange","cherry","berry"}
set.add("strawberry")
print(set)

{'cherry', 'berry', 'apple', 'orange', 'strawberry', 'kiwi'}

3-Remove an existing fruit using .remove() (and explain if it errors when missing).

In [17]:
set={"apple","kiwi","orange","cherry","berry","strawberry"}
set.remove("apple")
print(set)

{'cherry', 'berry', 'orange', 'strawberry', 'kiwi'}

4-Remove another fruit using .discard() (and note the difference from .remove()).

In [18]:
set={"strawberry","kiwi","orange","cherry","berry"}
set.discard("kiwi")
print(set)

{'cherry', 'berry', 'orange', 'strawberry'}

  5- Use .pop() to remove an arbitrary item and print the result.

In [19]:
set={"strawberry","orange","cherry","berry"}
set.pop()
print(set)

{'strawberry', 'orange', 'berry'}

6-Clear the remaining items using .clear() and show that the set is now empty.

In [20]:
set={"strawberry","orange","berry"}
set.clear()
print(set)

set()

7-Create two sets of numbers and display their union(), intersection(), difference(), symmetric_difference().

In [22]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
my_set=set1.union(set2)
print(my_set)
my_set=set1.intersection(set2)
print(my_set)
my_set=set1.difference(set2)
print(my_set)
my_set=set1.symmetric_difference(set2)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

8-Check if one set is a subset or superset of another, and print results.

In [25]:
set1={1,2,3,4,5}
set2={1,2,3,4,5,6,7,8}
my_set=set1.issubset(set2)
print(my_set)
my_set=set1.issuperset(set2)
print(my_set)

True
False

9-Declare a frozenset of vowels and try adding an item — observe the immutability error.

In [28]:
my_frozenset={"a","e","i","o","u"}
my_frozenset.add("y")
print(my_frozenset)

{'y', 'o', 'u', 'a', 'e', 'i'}

10-Use a loop to check membership of a user-input character in the set of vowels.

In [32]:
set1 = {"a", "e", "i", "o", "u"}
set = input("Enter a character: ")
found = False
for vowel in set1:
  if set == set1:
    found = True
if found:
  print(f"The character '{set}' is a vowel.")
else:
  print(f"The character '{set}' is not a vowel.")

Enter a character: y
The character 'y' is not a vowel.