1- Create a list of 5 favorite fruits and print each using a loop

In [7]:
fruits=["apple","banana","cherry","watermelon","mango"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
watermelon
mango

2-Create a tuple with 3 items: name, age, and city. Access and print each.

In [10]:
a=("minahil","19","karachi")
print(a[0])
print(a[1])
print(a[2])

minahil
19
karachi

3-Make a dictionary with student name, class, and score. Print keys and values

In [11]:
my_dict={"student name":"ali","class":"9th","score":"90"}
print(my_dict.keys())
print(my_dict.values())

dict_keys(['student name', 'class', 'score'])
dict_values(['ali', '9th', '90'])

4-Update the list by adding and removing items. Print the updated list

In [12]:
my_list=[1,2,3,4,5]
my_list.append(6)
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6]

5-Use a loop to count items in the list and print using len()

In [14]:
my_list=[1,2,3,4,5]
count=len(my_list)
print(count)

5

6-Check if a value exists in a tuple using in keyword

In [15]:
my_tuple=(1,2,3,4,5)
if 3 in my_tuple:
    print("3 is in the tuple")
else:
    print("3 is not in the tuple")

3 is in the tuple

7-Add a new key-value pair to your dictionary and print the result

In [17]:
my_dict={"name":"lali","age":20}
my_dict["city"]="karachi"
print(my_dict)

{'name': 'lali', 'age': 20, 'city': 'karachi'}

8-Write a program that converts a list to a tuple and prints both

In [21]:
my_list=[1,2,3,4,5]
my_tuple=tuple(my_list)
print(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

9- Create a dictionary of 3 students with marks. Print names who scored > 80

In [22]:
my_dict={"ali":90,"lali":80,"minahil":70}
for name,marks in my_dict.items():
    if marks>80:
        print(name)

ali

10-Create a tuple of mixed data. Loop through it and print type of each item

In [30]:
my_tuple=("minahil",16,20.5)
for i in my_tuple:
  print(type(i))
  print(i)

<class 'str'>
minahil
<class 'int'>
16
<class 'float'>
20.5